/node_modules
.env
.env.development
.env.production
/src/generated/prisma
/docs
/public/letters/*
/secure-storage
/storage
AGENTS.md
/uploads
serviceAccountKey.json
/api-service-kelurahan-talete-satu-docs
